*{
    margin: 0px;
    padding: 0px;
}

main{
    /* border: 2px solid black; */
    text-align: center;
}

.container{
    /* border: 1px solid red; */
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    display: flex;
    width: 60vmin;
    height: 60vmin;
    gap: 0.5vmin;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.box{
    width: 18vmin;
    /* margin: 10px; */
    height: 18vmin;
    border-radius: 10px;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
}

